FOR GENERATION:

OPENAI_API_KEY= 
MILVUS_HOST=
MILVUS_PORT=
MILVUS_SERVER_PEM_PATH=
MILVUS_SERVER_NAME=
MILVUS_USER=
MILVUS_PASSWORD=

FOR EVALUATION:

WATSONX_APIKEY= 
IBM_CLOUD_URL= 
PROJECT_ID=
HGFACE_TOKEN= 
